# Resend API Key (from resend.com)
RESEND_API_KEY=re_TstWbyRn_H1vH11gxWCjTFXXARFqCSNTu

# Company Email to receive notifications
COMPANY_EMAIL=trungtranduc198@gmail.com

# Phone number for sticky button (no spaces for tel: link)
NEXT_PUBLIC_PHONE_NUMBER=0359280808

# Display phone number
NEXT_PUBLIC_DISPLAY_PHONE=0359.280.808
